h1{
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: cursive;} 

h1 span{color:aqua;}

h2   {
    background-color: rebeccapurple; 
    color: white;
    text-align:center;
    font-style: italic;}

h3 {
    background-color:#8ab9f1;
    text-align:right;
    text-decoration: underline;}